<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connString" connectionString="provider=Microsoft.Jet.OLEDB.4.0;Data Source='..\..\Excel Sheet\Countries.xls';Extended Properties=Excel 8.0;"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>